body{
	background:#ffffff;
	color:#e10d30;
	text-align: center;
}

#header{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	text-align:center;
	text-indent:35px;
	margin: 0 auto;
	width:800px;
	margin-bottom:10px;
	border: 1px dashed;
}

hr{
	margin: 20px;
	border:none;
	border-top: 1px solid #00000;
	border-bottom: 1px solid #000000;
}

p{
	color:#c71115;
	text-align:left;
	font-size:10px;
	margin-left: 20px;
	margin-bottom: -10px;
}

a{
	color:#000000;
}



#container{
	margin: 0 auto;
	width:800px;
	border:none;
	font-family:Verdana, Geneva, sans-serif;
	text-align:center;
}

img{
	border:10px solid #000000;
	margin: 15px;
}

img:hover{
	border-color:#c71115;
}



